@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 70%;
  padding-top: 30px;
  background: #f9f9f9;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.wrap {
  width: 854px;
  height: 640px;
  margin: 0 auto;
}
.wrap > .reg {
  width: 786px;
  background: #fff;
  padding: 30px 34px;
  margin-bottom: 10px;
}
.wrap > .reg > .titleLogo {
  width: 768px;
  height: 48px;
  padding-bottom: 40px;
  margin: -30px auto 0;
}
.wrap > .reg > .titleLogo > a {
  width: 49px;
  height: 48px;
  display: block;
  margin: 0 auto;
  background: url("../img/mi-logo.png") #ff6700;
}
.wrap > .reg > h1 {
  color: #333333;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
}
.wrap > .reg > .regfield {
  width: 332px;
  height: 268px;
  padding: 30px 0;
  margin: 0 auto;
}
.wrap > .reg > .regfield > .country {
  height: 20px;
  line-height: 15px;
  padding-bottom: 5px;
  display: block;
  font-size: 14px;
  color: #333333;
}
.wrap > .reg > .regfield > .choosecountry {
  height: 40px;
  border: 1px solid #e8e8e8;
  font-size: 14px;
  color: #555555;
  padding-left: 14px;
  position: relative;
}
.wrap > .reg > .regfield > .choosecountry > div {
  height: 40px;
  line-height: 40px;
}
.wrap > .reg > .regfield > .choosecountry > div > div {
  float: right;
  height: 40px;
  cursor: pointer;
  border-left: 1px solid #e0e0e0;
}
.wrap > .reg > .regfield > .choosecountry > div > div > div {
  float: right;
  width: 16px;
  height: 16px;
  margin: 12px 12px 0;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
}
.wrap > .reg > .regfield > .choosecountry > div > div > div > span {
  display: block;
  float: right;
  width: 12px;
  height: 12px;
  font-size: 20px;
  margin-top: -10.5px;
  margin-right: 6px;
  color: #e0e0e0;
}
.wrap > .reg > .regfield > .explain {
  width: 100%;
  height: 20px;
  font-size: 14px;
  color: #666666;
  margin: 0 0 15px;
}
.wrap > .reg > .regfield > .phm {
  width: 330px;
  height: 42px;
  border: 1px solid #e8e8e8;
}
.wrap > .reg > .regfield > .phm > .choosearea {
  width: 53px;
  height: 14px;
  line-height: 14px;
  padding: 14px 0 14px 14px;
  font-size: 14px;
  color: #555555;
  float: left;
  cursor: pointer;
  border-right: 1px solid #e8e8e8;
}
.wrap > .reg > .regfield > .phm > input {
  width: 248px;
  height: 14px;
  padding: 14px 0 14px 14px;
  font-size: 14px;
  border: none;
  color: #555555;
  float: left;
  outline: none;
}
.wrap > .reg > .regfield > span {
  height: 42px;
  float: left;
  margin-left: 10px;
  font-size: 14px;
  color: red;
}
.wrap > .reg > .regfield > input {
  width: 332px;
  height: 42px;
  font-size: 14px;
  color: #fff;
  background: #FF6700;
  margin: 30px 0 0;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}
.wrap > .reg > .regfield > input:hover {
  background: #ff936a;
}
.wrap > .reg > .regProtocol {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.wrap > .reg > .regProtocol > p {
  color: #9D9D9D;
  font-size: 14px;
}
.wrap > .reg > .regProtocol > p > a {
  color: #333333;
  font-weight: bold;
}
.wrap > .non-footer {
  width: 100%;
  text-align: center;
  color: #9D9D9D;
  margin-top: 10%;
}
.wrap > .non-footer > ul {
  display: inline-block;
  overflow: hidden;
  font-size: 14px;
}
.wrap > .non-footer > ul > li {
  color: #757575;
  float: left;
}
.wrap > .non-footer > ul > li > a {
  padding: 0 10px;
  color: #757575;
}
.wrap > .non-footer > .police {
  padding: 10px 0;
}
.wrap > .non-footer > .police > a {
  color: #9D9D9D;
  font-size: 14px;
}
.wrap > .non-footer > .police > img {
  margin-left: -6px;
  margin-right: -6px;
}
